#navbar {
    background-color: rgb(85, 115, 248);    
}

.navbar-toggler,
.collapsed,
.collapse {
    border: none;
}




#company {
    text-align: center;
}

#title {
    text-align: center;
    margin-bottom: 2em;
    color: rgba(4, 20, 163, 0.993);
    text-shadow: .05em .05em .15em rgb(117, 101, 101);
}



hr.blue {
    height: 3px;
    opacity: 100%;
    border-radius: 50%;
    width: 50%;
    margin: 2px auto;
    background-color: rgb(4, 36, 177);
}

.container{
    padding: 1em;
}

.row {
    margin: 2%;
}

.container {
    border-radius: 5rem;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(158, 157, 108, 0.952))
}

label {
    width: 25%;
    margin: 0 2em;
    color: black;
    font-weight: bold;
}

input,
textarea,
select {
    width: 75%;
    margin: 0 2em;
}

.fa-wrench,
.fa-clock,
.fa-gauge,
.fa-truck-monster,
.fa-fan,
.fa-calendar-days,
.fa-gear {
    color: white;
    margin-right: 0.3rem;
}

#subButton {
    display: flex;
    justify-content: center;
    align-items: center;

}