#company {
    text-align: center;
    color: rgba(4, 20, 163, 0.993);
    text-shadow: .05em .05em .15em rgb(117, 101, 101);
}

#title {
    text-align: center;
    margin-bottom: 2em;
    color: rgba(4, 20, 163, 0.993);
    text-shadow: .05em .05em .15em rgb(117, 101, 101);
}

hr:not([size]) {
    height: 5px;
}

.row hr {
    width: 75%;
    margin: 5px auto;
    background-color: #000000;
    border-radius: 100px;
}

.row {
    margin: 5px;
}

#mechanic {
    margin-left: 0.5rem ;
}