html {
    height: auto;
    top: 40px;
}



body {
    min-height: 100%;
    background-image: linear-gradient(.25turn, #cdcddd, #1e78ed);
    background-size: auto;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}



#collapsibleNavbar>ul {
    margin: auto;
}

#navbar>div>a>img {
    width: 3rem;

}


#navbar {
    background-image: linear-gradient(.75turn, #cdcddd, #1e78ed);
    box-shadow: 0rem .25rem .25rem rgb(118, 116, 122);
    border-radius: 12px;
    position: fixed;
    width: 100%;
    top: 0;
    padding: .05rem 1rem;
}

#navbar a {
    color: black;
}


#company {
    text-align: center;
    margin-top: 100px;
}

#company>img {
    width: 6rem;
}

.title {
    text-align: center;
    margin-bottom: 2em;
    color: rgba(4, 20, 163, 0.993);
    text-shadow: .05em .05em .15em rgb(117, 101, 101);
}

span.asterisk {
    color: red;
}



hr.blue {
    height: 3px;
    opacity: 100%;
    border-radius: 50%;
    width: 50%;
    margin: 2px auto;
    background-color: rgb(4, 36, 177);
}






.container {
    padding: 3em;
    margin-bottom: 4rem;
    border-radius: 4rem;
}

div {

    align-items: flex-end;
}





label {
    width: 25%;
    color: black;
    font-weight: bold;
}

input,
textarea,
select {
    width: 75%;
}

.form-control {
    border: .2rem solid gray;
    border-radius: 12px;
}

.fa-wrench,
.fa-clock,
.fa-gauge,
.fa-truck-monster,
.fa-fan,
.fa-calendar-days,
.fa-gear {
    color: rgb(107, 105, 112);
    margin-right: 0.2rem;
}

#sub {
    margin-top: 2rem;
}

#subButton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-primary {
    color: rgb(0, 0, 0);
    background-color: #85edffa6;
    border-color: #0d6efd;
}